html {
    scroll-behavior: smooth;
}

body{
    width: 1600px;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #25274D;
}

.grid_container {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(7 , 200px);
    grid-template-rows: repeat(7 , 200px);
    grid-gap: 7px;
    
}

#logo {
    margin: 0;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-color: #464866;
    border-radius: 5px;
}

.logo_img {
    margin-left: 15px;
    margin-top: 15px;
    width: 170px;
}

header {
    background-color: #464866;
    grid-column: 2 / 5;
    border-radius: 5px;
}

.title {
    margin-top: 33.5px;
}

h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 70px;
}

h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18.7px;
}

nav {
    grid-column: 5 / 8;
    background-color: #464866;
    border-radius: 5px;
}

nav div {
    display: block;
    height: 40px;
}

nav div div {
    display: inline-block;
}

nav div div i {
    width: 30px;
    font-size: 25px;
    margin: 7.5px 0 10px 10px;
    color: white;
    text-align: center;
}

nav div p {
    display: inline-block;
    margin: 0 0 0 10px;
    font-family: "Roboto" , sans-serif;
    color: white;
    clear: both;
}

#basic_info {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    background-color: #29648A;
    border-radius: 5px;
    position: relative;
}

.img_1 {
    margin: 0;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.img_2 {
    margin: 0;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}

#symptoms {
    grid-column: 5 / 8;
    grid-row: 2 / 4;
    background-color: #29648A;
    border-radius: 5px;
    position: relative;
}

#spread {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    background-color: #29648A;
    border-radius: 5px;
    position: relative;
}

#prevention {
    grid-column: 3 / 6;
    grid-row: 4 / 7;
    background-color: #29648A;
    border-radius: 5px;
    position: relative;
}

.img_3 {
    margin: 0;
    grid-column: 6 / 7;
    grid-row: 4 / 5;
}

.img_4 {
    margin: 0;
    grid-column: 7 / 8;
    grid-row: 4 / 5;
}

.img_5 {
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 6 / 8;
}

.img_6 {
    margin: 0;
    grid-column: 3 / 4;
    grid-row: 7 / 8;
}

.img_7 {
    margin: 0;
    grid-column: 4 / 5;
    grid-row: 7 / 8;
}

.img_8 {
    margin: 0;
    grid-column: 5 / 6;
    grid-row: 7 / 8;
}

#economics {
    grid-column: 6 / 8;
    grid-row: 5 / 8;
    background-color: #29648A;
    border-radius: 5px;
    position: relative;
}

.small_img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.large_img {
    width: 407px;
    height: 407px;
    border-radius: 5px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Muli" , sans-serif;
}

p {
    margin: 10px 15px 0 15px;
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    justify-self: center;
}

ul {
    padding-left: 20px;
    margin: 10px 0 0 10px
}

li {
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
}

.link {
    color: white;
    font-size: 20px;
    margin-left: 10px;    
}

.linkwrap {
    text-align: center;
    margin-top: 10px;
}

.websitelink {
    margin-left: 15px;
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.weblinkwrap i {
    color: white;
    margin-left: 2px;
    font-size: 12px;
}

.weblinkwrap {
 position: absolute;
 margin-bottom: 15px;
 bottom: 0;
}

.button {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 50px;
    left: auto;
    max-width: 40px;
    width: 40px;
    font-size: 30px;
    padding: 0;
    z-index: +1;
    color: white;
    border: none;
    background-color: transparent;
    outline: none;
}


